.hljs-name,
.hljs-tag {
    color: #e8bf6a !important;
}

.hljs-attr {
    color: #bababa !important;
}

.hljs-string {
    color: #a5c261 !important;
}

.hljs-comment {
    font-weight: 400 !important;
    color: #808080 !important;
}

.hljs-selector-pseudo,
.hljs-selector-class,
.hljs-built_in {
    font-weight: 400 !important;
    color: #e8bf6a !important;
}

.hljs-attribute {
    color: #bababa !important;
}

.hljs-number {
    font-weight: 400 !important;
    color: #6897bb !important;
}

.hljs-meta {
    color: #cc7832 !important;
}

.hljs-keyword {
    font-weight: 400 !important;
    color: #cc7832 !important;
}

.hljs-title {
    font-weight: 400 !important;
    color: #ffc66d !important;
}

.hljs-params {
    color: #a9b7c6 !important;
}

.hljs-string {
    color: #6A8759 !important;
}
